@{
  Layout = "_Layout";
}

@using RecipeBook.Models;

<h1>Welcome to RecipeBook!</h1>

<hr />

@if (User.Identity.IsAuthenticated)
{
  <h4>Hi, @User.Identity.Name</h4>
  @if (Model["recipes"].Length == 0)
  {
    <p>No recipes have been added yet!</p>
  } 
    @foreach (Recipe recipe in Model["recipes"])
    {
      <p>@Html.ActionLink(@recipe.Name, "Details", "Recipes", new { id = @recipe.RecipeId})</p>
    }
}
else
{
  <h2>Recipes</h2>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your recipes.</p>
}

<br />
<h2>Categories</h2>
@if (Model["categories"].Length == 0)
{
  <p>No categories have been added yet!</p>
} 
  @foreach (Category cat in Model["categories"])
  {
    <p>@Html.ActionLink(@cat.Name, "Details", "Categories", new { id = @cat.CategoryId})</p>
  }
